<script setup>
import TheWelcome from '@/components/TheWelcome.vue'
</script>

<template>
  <img class="border" src="https://arc-anglerfish-arc2-prod-infobae.s3.amazonaws.com/public/YHAUBUYW75FZVLG4Z4WL5S6LMY.jpg" alt="">
</template>
