<template>
    <h1 class="text-4xl text-center p-5 my-5 font-bold">Characters</h1>
    <div class="grid grid-cols-12 gap-2">
        <div class="col-start-1 col-span-12 flex justify-center">
            <div class="mx-auto my-5">
                <ul class="flex pl-0 list-none rounded my-2">

                    <li v-if="info.prev" class="relative block py-2 px-3 leading-tight bg-white border border-gray-300 text-blue-700 border-r-0 ml-0 rounded-l hover:bg-gray-200">
                        <a class="page-link hover:cursor-pointer"  @click.prevent="PreviousPage"> {{ '<<'}}  Previous</a>
                    </li>


                    <li v-if="info.next" class="relative block py-2 px-3 leading-tight bg-white border border-gray-300 text-blue-700 rounded-r hover:bg-gray-200">
                        <a  class="page-link hover:cursor-pointer" @click.prevent="NextPage">Next >></a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="col-start-1 col-span-12">
            <table class="table-auto w-full border">
                <thead>
                    <tr class="bg-black text-white">
                        <th class="p-2">#</th>
                        <th class="p-2">name</th>
                        <th class="p-2">status</th>
                        <th class="p-2">type</th>
                        <th class="p-2">gender</th>
                        <th class="p-2">origin</th>
                        <th class="p-2">location</th>
                        <th class="p-2">image</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(char, index) in chars" :class=" (index % 2) ? 'bg-gray-100':''">
                        <td class="p-2 text-center" >{{ char.id }}</td>
                        <td class="p-2 text-center">{{ char.name }}</td>
                        <td class="p-2 text-center">{{ char.status }}</td>
                        <td class="p-2 text-center">{{ char.type }}</td>
                        <td class="p-2 text-center">{{ char.gender }}</td>
                        <td class="p-2 text-center">{{ char.origin.name }}</td>
                        <td class="p-2 text-center">{{ char.location.name }}</td>
                        <td class="p-2 text-center"> <img class="w-20 h-auto mx-auto" :src="char.image"> </td>
                    </tr>

                    jbjkhbvj
                </tbody>
            </table>    
        </div>
        
    </div>
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      source:'https://rickandmortyapi.com/api/character',
      prev:null,
      pages:null,
      next:null,
      info: [],
      chars: [],
      errors: []
    }
  },

  // Fetches posts when the component is created.
  created() {
    this.load(this.source)
  },
  methods:{
    PreviousPage () {
      this.load(this.prev)
    },
    NextPage () {
     this.load(this.next)
    },
    load(source){
         axios.get(source)
        .then(response => {
            // JSON responses are automatically parsed.
            this.chars = response.data.results
            this.info = response.data.info
            this.prev = this.info.prev
            this.pages = this.info.pages
            this.next = this.info.next
        })
        .catch(e => {
            this.errors.push(e)
        })
    }
  }
}
</script>